@charset "UTF-8";

body{
    background-color: #a7d1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0f4391;
}

#principal{
    text-align: center;
    background-color: #428dcf;
    color: azure;
}

h2{ 
    color: #0a0e44;

}

.basico{
    color: #2c7c21;
}

.intermediario{
    color: #a0aa13;
}

.avançado{
    color: #7c2121;
}
    